nav {
	background: #242424;
	position: absolute;
	left: 145px;
	bottom: 0;
	z-index: 10;
	font-weight: bold;
	color: #fff;
	font-size: 15px;
	padding: 3px 7px 0 17px;
}
nav ul li {
	float: left;
	margin-right: 30px;
	position: relative;
}
nav ul li:last-child {
	margin-right: 5px;
}
nav ul li:after {
	content: '//';
	text-align: right;
	font-weight: normal;
	font-size: 16px;
	position: absolute;
	width: 20px;
	height: 30px;
	right: -20px;
	top: 0;
}
nav ul li:last-child:after, nav .sub-menu li:after {
	display:none;
}
nav #menu-main-menu > li a {
	display: block;
	color: #fff;
	font-size: 15px;
	padding-bottom: 2px;
	margin-bottom: 7px;
}
nav ul li.current-menu-item a, nav #menu-main-menu > li > a:hover, nav ul li a:visited {
	color: #fff;
}
nav > ul > li.current-menu-item > a, nav > ul > li:hover > a {
	border-bottom: 1px #aaa solid;
	margin-bottom: 6px !important;
}
nav #menu-main-menu > li:first-child > a {
	padding-left: 15px;
}
nav #menu-main-menu > li:first-child > a:before {
	font-family: FontAwesome;
	font-weight: normal;
	content: "\f015";
	position: absolute;
	left: -6px;
	top: 3px;
}

/* submenu */
nav li:hover > .sub-menu {
	display: block;
}
nav .sub-menu {
	position: absolute;
	display: none;
	clear: both;
	background: #fff;
	box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	-moz-box-shadow: 0 0 3px #000;
	-o-box-shadow: 0 0 3px #000;
	-ms-box-shadow: 0 0 3px #000;
	padding: 5px 0 5px 0;
}
nav .sub-menu a {
	color: #000 !important;
	display: block;
}
nav > ul > li > .sub-menu {
	left: -20px;
}
nav > ul > li:hover > .sub-menu:before {
	font-family: FontAwesome;
	content: "\f0d8";
	position: absolute;
	top: -11px;
	left: 60px;
}
nav .sub-menu li {
	position: relative;
	margin-right: 0 !important;
	clear: both;
}
nav .sub-menu li a {
	display: block;
	width: 135px;
	padding: 3px 7px 5px 10px;
	margin: 0 !important;
	border: 0 !important;
	font-weight:normal;
}
nav .sub-menu > li:hover > a {
	background: #eee;
}
nav .sub-menu li:last-child a {
	margin-bottom: 0;
}

/* sub-submenu */
nav > ul > .sub-menu > li:hover > .sub-menu {
	display: block;
}
nav .sub-menu .sub-menu {
	display: none;
	position: absolute;
	z-index: 999999;
	right: -140px;
	top: 5px;
}