@font-face {
    font-family: 'Dirty Headline';
    src: url('../font/dirtyheadline/dirty_headline-webfont.eot');
    src: url('../font/dirtyheadline/dirty_headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/dirtyheadline/dirty_headline-webfont.woff') format('woff'),
         url('../font/dirtyheadline/dirty_headline-webfont.ttf') format('truetype'),
         url('../font/dirtyheadline/dirty_headline-webfont.svg#DirtyHeadlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: #046D8B;
	width: 100%;
	color: #242424;
	font-family: 'Open Sans', 'Opensans', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
.icon-flickr {
	font-size: 25px;
}
.icon-flickr:hover span:first-child {
	color: #0073ff;
}
.icon-flickr:hover span:last-child {
	color: #ff007b;
}

h2 {
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
	color: #2B2926;
	margin-bottom: 0;
	border-bottom: 1px dotted #bbb;
	font-family: 'Open Sans', inherit !important;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: #DE2355;
}

a:hover {
	color: #2B2926;
	border-bottom: 1px dotted #2B2926;
}

input[type=text], input[type=password], textarea {
	border: 1px solid #cecece;
	padding: 2px;
}

input[type=button], input[type=submit], button, .btn, .btn:hover {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	display: block;
	padding: 5px 10px 5px 10px;
	background: #000;
	color: #fff !important;
	margin-right: 15px;
	border: 0;
}
input[type=button]:hover, input[type=submit]:hover, button:hover, .btn:hover {
	color: #aaa !important;
}
.btn-white {
	background: #fff;
	color: #000 !important;
}
.btn-white:hover {
	background: #fff;
}

blockquote {
	padding: 6px;
	padding-left: 10px;
	border-left: 4px solid rgb(201, 230, 228);
	margin: 10px 40px;
}

.light {
	font-weight: lighter !important;
}

#topbar {
	width:  930px;
	margin: 0px auto;
	height: 24px;
	font-size: 14px;
	padding-left: 30px;
}

#topbar a {
	margin-right: 10px;
	color: #ddd;
	border-bottom: none !important;
}

#headerwrapper {
	position: relative;
	z-index: 50;
	width: 100%;
	background-color: #035C75;
}
/* stripes */
header, #header-right-skew-background {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAPy8vKSjMhiIIGHDx8+hwvCBECKwILIAmBBdAGQIACxChB8RLDalgAAAABJRU5ErkJggg==) repeat;
}

header {
	position: relative;
	height: 152px;
	width:  960px;
	margin: 0px auto;
	color: #fff;
	background-color: #F78605;
	border-left: 1px solid #888;
	border-bottom: 1px solid #666;
}

header > * {
	margin:  0;
	padding: 0;
}

#header-right {
	position:      absolute;
	left:          629px;
	top:           0px;
	z-index:       0;
	background:    #181619;

	border-top:    2px #035C75 solid;
	border-bottom: 3px #de2355 solid;

	height:        147px;
	width:         231px;
	padding-left:  100px;
}
#header-right-skew {
	content:    '';
	position:   absolute;
	top:        0;
	right:      295px;
	overflow:   hidden;
	z-index:    1;

	display:    block;
	height:     152px;
	width:      70px;

	background: #F78605;
	box-shadow: 4px 0 3px -3px #000;
	-webkit-box-shadow: 5px 0 3px -3px #000;
	-moz-box-shadow: 4px 0 3px -3px #000;
	-o-box-shadow: 4px 0 3px -3px #000;
	-ms-box-shadow: 4px 0 3px -3px #000;

	transform:         skew(-24deg);
	-webkit-transform: skew(-24deg);
	-moz-transform:    skewX(-24deg);
	-o-transform:      skew(-24deg);
	-ms-transform:     skew(-24deg);
}
#header-right-skew-background {
	width:             200%;
	height:            100%;
	margin-left:       -50%;

	transform:         skew(24deg);
	-webkit-transform: skew(24deg);
	-moz-transform:    skewX(24deg);
	-o-transform:      skew(24deg);
	-ms-transform:     skew(24deg);
}

#social {
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 20px;
}

#social a, #social a:hover {
	border-bottom: none;
	color: #fff;
	margin-left: 5px;
	display: inline-block;
	width: 16px;
	text-align:center;
}

#social .icon-twitter:hover {
	color: #33ccff;
}
#social .icon-facebook:hover {
	color: #3b5b99;
}
#social .icon-picture:hover {
	color: #aaa;
}
#social .icon-google-plus-sign:hover {
	color: #d84937;
}
#social .icon-github:hover {
	color: #aaa;
}

#mitglied-werden {
	position: absolute;
	top: 14px;
	left: 100px;
	height: 0;
	font-family: 'Dirty Headline', sans-serif;
	border: none !important;
	transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
}
#mitglied-werden:before {
	content: 'Werde';
	color: #fff;
	font-size: 30px;
}
#mitglied-werden:after {
	content: 'JUPI!';
	color: #f78605;
	display: block;
	font-size: 45px;
	margin-left: -7px;
	margin-top: -20px;
}
#mitglied-werden:hover:after {
	color: #046d8b;
}

#search-form {
	position: absolute;
	right: 0;
	top: 110px;
}
#search-form input {
	display: block;
	float: left;
	border: none;
	height: 19px;
	padding: 4px !important;
	margin: 0;
	width: 220px;
	font-size: 14px;
}
#search-form input[type=text]:-moz-placeholder {
	color: #aaa;
}

#search-form .submit {
	background: #2D7DC5;
	padding: 0px;
	padding-left: 1px;
	padding-top: 1px;
	height: 27px !important;
	width: 27px !important;
	color: #fff !important;
	font-size: 14px;
	float: right;
}

#name {
	position: absolute;
	top: 15px;
	font-size: 74px;
	line-height: 1;
	left: 165px;

	padding: 7px;

	font-family: 'Open Sans Condensed', 'Open Sans', 'Opensans', sans;
	text-decoration: none !important;
	border: none !important;
	text-transform: uppercase;
	font-weight: lighter !important;
	margin-right: 0;
	padding-right: 0;
	color: #fff !important;
	text-shadow: -1px 0 #F8850C, 0 1px #F8850C, 1px 0 #F8850C, 0 -1px #F8850C;
}

#name > .bold {
	font-weight: bold;
}

#signet {
	position: absolute;
	z-index: 50;
	left: 20px;
	top: 7px;
	height: 140px;
}

@media screen and (min-width: 601px) {
	nav {
		background: #242424;
		position: absolute;
		left: 145px;
		bottom: 0;
		z-index: 10;
		font-weight: bold;
		color: #fff;
		font-size: 15px;
		padding: 3px 7px 7px 17px;
	}
	nav ul li {
		float: left;
		margin-right: 30px;
		position: relative;
	}
	nav ul li:last-child {
		margin-right: 5px;
	}
	nav ul li:after {
		content: '//';
		text-align: right;
		font-weight: normal;
		font-size: 16px;
		position: absolute;
		width: 20px;
		height: 30px;
		right: -20px;
		top: 0;
	}
	nav ul li:last-child:after, nav .sub-menu li:after {
		display:none;
	}
	nav #menu-main-menu > li a {
		display: block;
		color: #fff;
		font-size: 15px;
		padding-bottom: 2px;
		margin-bottom: 7px;
	}
	nav ul li.current-menu-item a, nav #menu-main-menu > li > a:hover, nav ul li a:visited {
		color: #fff;
	}
	nav > ul > li.current-menu-item > a, nav > ul > li:hover > a {
		border-bottom: 1px #aaa solid;
		margin-bottom: 6px !important;
	}
	nav #menu-main-menu > li:first-child > a {
		padding-left: 15px;
	}
	nav #menu-main-menu > li:first-child > a:before {
		font-family: FontAwesome;
		font-weight: normal;
		content: "\f015";
		position: absolute;
		left: -6px;
		top: 3px;
	}

	/* submenu */
	nav li:hover > .sub-menu {
		display: block;
	}
	nav .sub-menu {
		position: absolute;
		display: none;
		clear: both;
		background: #fff;
		box-shadow: 0 0 3px #000;
		-webkit-box-shadow: 0 0 3px #000;
		-moz-box-shadow: 0 0 3px #000;
		-o-box-shadow: 0 0 3px #000;
		-ms-box-shadow: 0 0 3px #000;
		padding: 5px 0 5px 0;
		margin-top: 7px;
	}
	nav .sub-menu a {
		color: #000 !important;
		display: block;
	}
	nav > ul > li > .sub-menu {
		left: -20px;
	}
	nav > ul > li:hover > .sub-menu:before {
		font-family: FontAwesome;
		content: "\f0d8";
		position: absolute;
		top: -11px;
		padding: 0 60px 0 60px;
	}
	nav .sub-menu li {
		position: relative;
		margin-right: 0 !important;
		clear: both;
	}
	nav .sub-menu li a {
		display: block;
		width: 135px;
		padding: 3px 7px 5px 10px;
		margin: 0 !important;
		border: 0 !important;
		font-weight:normal;
	}
	nav .sub-menu > li:hover > a {
		background: #ddd;
	}
	nav .sub-menu li:last-child a {
		margin-bottom: 0;
	}

	/* sub-submenu */
	nav > ul > .sub-menu > li:hover > .sub-menu {
		display: block;
	}
	nav .sub-menu .sub-menu {
		display: none;
		position: absolute;
		z-index: 999999;
		right: -140px;
		top: 5px;
	}
}

#slider {
	float: left;
	position: relative;
	z-index: 1;
	height: 360px;
	width: 960px;
	width: 750px;
	background: url(../img/bruessel.jpg);

	box-shadow: 0 -5px 8px #666;
	-webkit-box-shadow: 0 -5px 8px #666;
	-moz-box-shadow: 0 -5px 8px #666;
	-o-box-shadow: 0 -5px 8px #666;
	-ms-box-shadow: 0 -5px 8px #666;

	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
}

#slider > .box {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 330px;
	height: 110px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALh4eH/GWF8EGflypWMYAEYB8RmROaABACeBw4JNO4QhQAAAABJRU5ErkJggg==) repeat;
	color: #fff;
	padding: 10px 20px;
	font-size: 25px;
	text-shadow: 0px 0px 1px #aaa;
	line-height: 1.3;
	text-transform: uppercase;

}

#slider > .box > .plus {
	position: absolute;
	color: #fff;
	top: -11px;
	right: -5px;
	font-size: 18px;
	font-weight: bold;
}

#slider > .box > h1 {
	font-size: 26px;
	color: #fff;
	margin: 0;
	margin-bottom: 8px;
	margin-left: -18px;
	padding-left: 18px;
	clear: both;
	font-weight: bolder;
	display: inline-block;
	border-bottom: 2px dotted #fff;
	font-family: 'Open Sans', 'Opensans', sans;
}

.attachment-single-post-thumbnail {
	margin-bottom: 20px;
}

#wrapper {
	position: relative;
	z-index: 1;
	margin: 0 23px;
	padding: 0;
	width: 960px;
	margin: 0px auto;
	margin-bottom: 10px;
}

#wrapper > aside {
	float: right;
	margin-top: 20px;
	width: 180px;
	min-height: 500px;
	height: 100%;
}

#wrapper > aside > .box {
	float: right;
	width: 180px;
	margin-bottom: 20px;
	background: #fff;
	padding: 2px;
	font-size: 13px;

	box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-ms-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
}

#wrapper > aside .box ul {
	color: #181619;
	padding: 0;
	margin: 0;
	list-style-type: none;
	padding-bottom: 5px;
}
#wrapper > aside .box ul li {
	padding: 6px 9px 7px 12px;
	margin-bottom: 2px;
}
#wrapper > aside .box ul li abbr {
	display: block;
	font-size: 10px;
	border: 0;
	color: #444;
	margin-top: 5px;
}

#wrapper > aside .box ul li:nth-child(odd) {
	background: #F3F3F3;
}

#wrapper > aside .box ul li:nth-child(even) {
	background: #fafafa;
}

#wrapper > aside .box ul li > ul {
	margin-top: 10px;
	margin-left: 0;
	border-left: 1px solid #AAA;
	padding-left: 5px;
}

#wrapper > aside h2 {
	font-size: 19px;
	font-weight: bold;
	color: #242424 !important;
	border-bottom: 1px dashed #ccc !important;
	margin: -1px 5px 10px 5px !important;
}

#wrapper > aside h2 a {
	color: #242424 !important;
}

#wrapper > aside h2, #wrapper > aside a {
	border: 0 solid #fff;
	margin: 0;
	margin-bottom: 7px;
}

#wrapper > aside a {
	color: #242424 !important;
}

#wrapper > article {
	width: 750px;
	float: left;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-ms-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	padding: 1px;
	margin-top: 20px;
}

#wrapper > article .post-title {
	background: #111;
	background-image: url(../img/headerpattern.png);
	background-position: top left;
	background-repeat: repeat;
	color: #fff;
	margin: 0;
	font-size: 18px;
	border-bottom: 0 solid #000;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}
#wrapper > article .post-title a {
	display: block;
	padding: 9px 17px 9px 17px;
}

#wrapper > article .content {
	padding: 5px 17px;
}

#wrapper > article .content > .meta {
	padding: 8px 2px;
	border-bottom: 1px dashed #ccc;
	color: #555;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

#wrapper > article .content > .meta a {
	border-bottom: none;
	color: #555;
}

#wrapper > article .content > .meta a:hover {
	color: #F88915;
}

.clear { clear: both; }

footer {
	width: 100%;
	background: #181619;
	color: #ccc;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 0.85em;
	margin-top: 50px;
}

footer a, footer a:hover, footer a:visited {
	color: #ccc !important;
	border-bottom: 1px dotted #ccc;
}

/* Chromeframe */
.chromeframe {
	background: #181818;
	color: #fff;
	margin: 0;
	padding: 0.2em 0;
	padding-left: 10px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 5px;
}

.chromeframe a {
	color: #fff !important;
	border-bottom: 1px dotted #fff !important;
}

/* Wordpress specific foo */
.comment-button, .comment-button:hover {
	float: right;
}

.post, .page {
	margin-bottom: 50px;
	font-size: 14px;
	word-spacing: 1px;
}

.post-title > a, .page-title > a {
	color: inherit !important;
	text-decoration: none !important;
	border-bottom: 0 solid #fff !important;
}

.alignleft {
	float: left;
	margin: 5px;
}

.alignleft {
	float: right;
	margin: 5px;
}

.type-page {
	min-height: 400px;
}

.commentmetadata {
	font-size: 10px;
	padding-top: 3px;
}

.comment {
	padding: 10px 8px;
}

.even {
	background: #f3f3f3;
}

.odd {
	background: #fafafa;
}

#commentform label {
	margin-left: 5px;
}

/* Wtf, Wordpress? Stup fucking around with themes by inserting arbitrary own crap css. */
.post-title > a > .dquo {
	margin-left: 0;
}

.alignleft {
	float: left;
	margin: 10px 20px;
	margin-left: 0;
}

.alignright {
	float: right;
	margin: 10px 20px;
	margin-right: 0;
}

.wp-caption {
	padding: 5px;
	width: auto;
	border: 1px solid #ededed;
}

.wp-caption-text {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	font-size: 13px;
}

#pagination {
	margin-top: 17px;
	width: 750px;
	overflow: hidden;
}
#pagination a {
	display: block;
}
#pagination a .btn {
	margin-right: 0;
}
#pagination a:hover {
	border-bottom: 0;
}
#pagination .prev a {
	float: left;
}
#pagination .next a {
	float: right;
}

/* Responsive foo */

/* Printer optimized view */
@media print {
	header, #header-right-skew, #slider-link, #slider, aside, footer, .comment-button, #topbar, .wp-post-image, .more-link {
		display: none;
	}

	a, a:hover {
		border-bottom: none !important;
	}
}

/* Mobile phones */
@media screen and (max-width: 600px) {
	aside, .plus, #slider-link, #slider, #topbar, .divisor, #signet, #header-right, #header-right-skew {
		display: none;
	}

	#wrapper, header, header > nav, footer, footer > p, .box, article {
		width: 100%;
	}

	header {
		height: auto !important;
		width: 100%;
		min-height: 0;
		display: block;
	}
	header a#name {
		position: relative;
		display: block;
		width: 100%;
		margin: auto;
		font-size: 60px;
		border: 1px green solid;
		overflow: hidden;
	}
	#name .bold {
		display: block;
	}

	nav {
		height: auto;
	}

	#headerwrapper {
		height: auto;
	}

	#name {
		position: absolute;
		left: 0;
		width: 90%;
		text-align: center;
		overflow: hidden;
		padding: 0;
		color: #fff !important;
	}

	#name .bold {
		background: none;
		text-shadow: none;
	}

	#wrapper {
		margin-top: 40px;
	}

	body > #wrapper > article {
		width: 100%;
		padding: 0;
		margin: 0;
		box-shadow: none;
		overflow: hidden;
		padding-top: 1px;
	}

	nav * {
		display: block !important;
		clear: both !important;
		position: relative !important;
	}

	nav {
		margin-top: 30px;
		background: #242424;
		font-size: 16px;
	}
	nav ul {
		padding-bottom: 5px;
	}
	nav a:hover {
		border: none;
	}
	nav li a {
		padding: 6px 6px 0 6px;
	}
	nav ul > li.current-menu-item > a:after {
		font-family: FontAwesome;
		font-size: 12px;
		content: "\f060";
		color: #fff;
		margin-left: 15px;
	}

		/* menu levels */
		nav > ul > li > a {
			padding-left: 5px;
		}
		nav > ul > li > a {
			color: #fff !important;
		}
			nav .sub-menu {
				margin: 7px 13px 0 10px;
				background: #fff;
			}
			nav .sub-menu:before {
				font-family: FontAwesome;
				content: "\f0d8";
				position: absolute;
				top: -13px;
				left: 25px;
				color: #fff;
			}
			nav .sub-menu li.current-menu-item > a:after {
				color: #000;
			}
				nav .sub-menu .sub-menu {
					border-left: 5px black solid;
					padding-left: 7px;
				}

	body > [role="content"], #wrapper {
		min-height: 280px;
	}

	#pagination {
		width: 100%;
		margin-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	footer, footer > p {
		height: auto;
		min-height: 0;
		padding: 0;
		margin: 0;
	}

	footer {
		position: relative;
		width: 100%;
	}

	footer > p {
		width: 80%;
		margin: 0 auto;
		background: inherit !important;
	}
}
